global:
  APP_NAME: k8s-helloword
  APP_PORT: 5000
  APP_REPLICAS: 1
  APP_VERSION: 1.0.0
  ROLE_ARN: arn:aws:iam::278504326063:role/k8s-example-helloword

image:
  pullPolicy: IfNotPresent
  account: 278504326063.dkr.ecr.us-east-1.amazonaws.com/
  repository: k8s-example-helloword
  version: cbbd8c9


resources:
  requests:
    cpu: "100m"
    memory: "100Mi"


livenessProbe:
  httpGet:
    path: /
    port: 5000
  initialDelaySeconds: 5
  periodSeconds: 5
