# This is a basic workflow to help you get started with Actions

name: CI

on:
  push:
    branches: [ main ]
jobs:
  build:
    name: Building and Pushing the Image
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1

    - name: Build, tag, and push image to Amazon ECR
      id: build-image
      env:
        ECR_REGISTRY: $(basename `git rev-parse --show-toplevel`)
        ECR_REPOSITORY: ${{github.repository}}

      run: |
        # Build a docker container and push it to ECR
        echo ${{ steps.login-ecr.outputs.registry }}
        git_hash=$(git rev-parse --short "$GITHUB_SHA")
        docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$git_hash .
        echo "Pushing image to ECR..."
        docker push "$ECR_REGISTRY/$ECR_REPOSITORY:$git_hash"
        echo "::set-output name=image::$ECR_REGISTRY/$ECR_REPOSITORY:$git_hash"
        
    - name: Update Version
      run: |
          git_hash=$(git rev-parse --short "$GITHUB_SHA")
          version=$(cat ./manifests/values.yaml | grep version: | awk '{print $2}')
          repository=$(cat ./manifests/values.yaml | grep repository: | awk '{print $2}')
          sed -i "s/$version/$git_hash/" ./manifests/values.yaml
          sed -i "s/$repository/${repository}/" ./manifests/values.yaml
          
    - name: Commit and push changes
      uses: devops-infra/action-commit-push@v0.3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        commit_message: Version updated
